* {
    box-sizing: border-box;
}
html {
    background-color: #4df54d;
    
    
}
.container {
    width: 1200px;
    min-height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.main {
    min-width: 350px;
    width: auto;
    height: 450px;
    border: 1px solid black;
    border-radius: 15px;
    display: block;
    background-color: white;
    padding: 25px;
}
h1 {
    font-family: Koulen;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    margin: 60px 0;
}
.form-container {
    width: 100%;
}
.mb-10 {
    margin-bottom: 10px;   
}
input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}
button {
    width: 100%;
    background-color: aqua;
    color: white;
    border: none;
    padding: 10px;    
}
button:hover {
    background-color: bisque;
    color: blueviolet;
}
.main__inscription {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    font-family: sans-serif;
    
}
a {
    text-decoration: none;
    color: blue;
}
a:hover {
    text-decoration: underline;
    color: darkblue;
}