.container {
    max-width: 100%;
    border-radius: 10px;
    margin: auto;
    display: flex;
    padding: 18px;
    min-width: 600px;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-width: 1px 1px; 
    border-style: solid;
    border-image: initial;
    border-color: #6F7E8C;
    box-sizing: inherit;
    line-height: 1.5;
    font-weight: 400;

}

.button {
    align-items: center;
    margin: 5px;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    vertical-align: middle;
    font-family: Roboto;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border: 0ch;
    border-radius: 4px;
    
} 
.button.button--text {
    transition: all;
    color: rgb(25, 118, 210);
}
.button.button--contained {
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 118, 210);
    border: 1px solid rgba(25, 118, 210, 0.5);
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}    
.button.button--lastButton {
    transition: all;
    border: 1px solid rgba(25, 118, 210, 0.5);
    color: rgb(25, 118, 210);
}      
.button.button--text:hover {
    background-color: lightgray;
}
.button.button--contained:hover {
    background-color: lightgray;
}
.button.button--lastButton:hover {
    background-color: yellowgreen;
    box-shadow: 0, 0, 10px white; 

}
 .input {
    margin: 0 10px;
    padding: 5px;
    width: 120px;
    height: 30px;
    text-align: center;
    color: purple;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 5px;
    font-family: Roboto;
    font-weight: 800;
 }
 
 .input:hover {
    background-color: lightblue;
 }
   

