html {
    box-sizing: border-box;
}
.container {
    width: 100%;
}
.block {
    display: flex;
    margin-left: -10px;
    min-height: 150px;
    width: 100%;

}
.block-item {
    margin: 10px 0 10px 20px;
    min-height: 150px;
    width: 100%;
}
.width-75 {
    width: 75%;
}
.width-50 {
    width: 50%;
}
.width-25 {
    width: 25%;
}
.color {
    width: 100%;
    height: 100%;
}
.color-red {
    background-color: lightcoral;
}
.color-green {
    background-color: aquamarine;
}
.color-orange {
    background-color: orange;
}
.color-purple {
    background-color: purple;
}
.color-white {
    background-color: white;
}