* {
    box-sizing: border-box;
    font-family: sans-serif;

}
.form-wrapper {
    width: 100%;
    max-width: 400px;
    align-content: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    background-color: #f9fafc;
}
.label, p {
    display: block;
    padding: 20px 0 0;
    margin: 5px 0;
    font-weight: bold;
    color: #95a1ac;
}
::placeholder {
    color: #93a2ab;
    opacity: 1;
}
.input {
    border: 1px solid #d8d8d8;
    outline: none;
    padding: 10px 15px;
    width: 100%;
    color: #95a1ac;
}
#email {
    background-image: url(image/mail.png);
    background-repeat: no-repeat;
    background-position: right 8px center;
}
.area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
textarea {
    resize: none;
    min-height: 100px;
}
.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.15em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:checked+label::before {
    border-color: #adb5bd;
    background-color: #817cd5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.radio-field--bt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-radio:checked+label::before {
    border-color: #adb5bd;
    background-color: #817cd5;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
button {
    border: 1px solid grey;
    background-color: #847aff;
    color: #eeeef1;
    width: 100%;
    padding: 15px;
    border-radius: 24px;
    margin-top: 15px;
    cursor: pointer;
    font-weight: bold;
}
.label-color {
    color: #93a2ab;
}