* { 
    font-family: sans-serif;
}
body {
    background-color: azure;
}
.block-container {
    width: 1300px;
    height: 400px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    margin: 10px auto;
    display: block;
    padding: 20px;
}
.block-image, .block-about, .block-price {
    float: left;
    padding: 10px;
}
img {
    max-width: 250px;
    width: 100%;
}
.block-about {
    margin-left: 30px;
}
ul {
    padding: 0px;
    list-style-type: none;
}
li {
    padding-bottom: 10px
}
.block-price {
    float: right;
    margin-right: 50px;
}
p {
    color: #d9c459;
    font-size: 150%;
    font-weight: bold;
    margin: 10px auto;
}
h3 {
    text-align: center;
}
input {
    display: block;
    width: 200px;
    padding: 7px;
    border: 1px solid gray;
    border-radius: 4px;
    margin-bottom: 8px;
    outline: none;
}
button {
    width: 216px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: bold;
    color: white;
    background-color: #e3c334;
    cursor: pointer;
}
button:hover {
    background-color: #59d9ce;
}
.flex-container {
    width: 1300px;
    height: 400px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    margin: 10px auto;
    display: flex;
    padding: 20px;
}
.flex-image {
    padding: 10px;
}
.flex-about {
    padding: 10px;
    margin-left: 30px;
}
.flex-price {
    padding: 10px;
    margin: 0 50px 0 auto;
}
.pos-container {
    width: 1300px;
    height: 400px;
    border: 1px solid white;
    border-radius: 15px;
    background-color: white;
    margin: auto;
    position: absolute;
    padding: 20px;
    left: 0;
    right: 0;
    
}
.pos-image, .pos-about, .pos-price {
    position: absolute;
    padding: 10px;
}
.pos-about {
    margin-left: 30px;
    left: 284px;
}
.pos-price {
    right: 20px;
    margin-right: 50px;
}
