* {
    box-sizing: border-box;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

::placeholder {
    color: #D0D0D0;
}
.container__desktop-1, .container__desktop-2 {
    max-width: 1439px;
    margin: 0 auto;
}
.header {
    background-color: #8EB226;
    display: flex;
    align-items: center;
    padding: 10px 35px 10px;
    justify-content: flex-end;
}
.header__logo{
    display: flex;
    align-items: center;
    margin-right: auto;
}
.header__logo img{
    width: 100%;
}
.header__logo p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-left: 2px;
}
.header__nav{
    margin-right: 100px;
}
.header__nav ul{
    display: flex;
    align-items: center;
}
.header__nav a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
    text-decoration: none;

}
.header__nav li:not(:last-child){ 
    margin-right: 32px;
}
.header__search{
    max-width: 336px;
    margin-right: 92px;
}
.search-form {
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 12px 56px 12px 40px;
    gap: 12px;
}
.search-form input {
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;  
}
.header__actions {
    display: flex;
    align-items: center;
    gap: 22px;
}
.main {
    position: relative;
    margin: 3px auto 0;
    background-color: #CDA792;
    width: 100%;
    height: 100%;
    min-height: 620px;
}
.main img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
.main__info {
    position: relative;
    z-index: 1;
    max-width: 680px;
    width: 100%;
    margin-left: 680px;

}
.main__text {
    margin: 0;

    font-family: 'Sree Krushnadevaraya';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 132px;
    text-transform: capitalize;
    color: #FFFFFF;
}
.main__text--olive {
    color: #D7FFA5;
}
button {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 173px;
    height: 62px;
    background-color: #73A336;
    /* background-image: url(/src/icon/right-arrow.png); */
    border: 1px solid #DCDCDC;
    border-radius: 5px;
    font-family: 'Sree Krushnadevaraya';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 49px;
    text-transform: capitalize;
    color: #FDFDFD;
    padding-bottom: 15px;
}
.best-selling__header {
    background-color: #F3F3F3;
    margin: 0;
    display: inline-flex;
    width: 100%;
    justify-content: space-between;align-items: center;
}
.best-selling__name {
    margin: 0;
    padding-left: 71px;
    font-family: 'Sree Krushnadevaraya';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 82px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.67);
}
.best-selling__link {
    font-family: 'Sree Krushnadevaraya';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 49px;
    text-decoration: none;
    border-bottom: 1px solid #000000ab;
    text-transform: capitalize;
    color: #000000ab;
    align-items: flex-end;
    margin-bottom: -10px;
    margin-right: 45px;
}
.items {
    display: flex;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    gap: 63px;
}
.item {
    position: relative;
    width: 246px;
    height: 332px;
    background-color: #E6E6E6;
}
.item__img {
    padding-top: 12px;
}
.item__text--name, .item__text--about, .item__text--price {
    margin: 0;
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    text-transform: capitalize;
    padding-left: 18px;
} 
.item__text--name {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #12651A;
}
.item__text--about {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
}
.item__text--price {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    color: #12651A;
}
.item__icon {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    border: 1px solid #7FA353;
    border-radius: 50%;
    padding: 5px;
    background-color: #7FA353;
    max-width: 31px;
}
.top-brands__items {
    display: flex;
    margin: 0px auto;
    height: 458px;
    align-items: center;
    justify-content: space-evenly;
    gap: 63px;
    background-color: #CDA792;
}
.top-brands__item {
    width: 341px;
}
.top-brands__img {
    border-left: 10px solid #7FA353;
    border-radius: 5px;
    background-color: white;
    height: 249px; 
    display: flex;
    align-items: center;  
}
.top-brands__text--name, .top-brands__text--sale {
    text-align: center;

}
.top-brands__text--name {
    font-family: Sree Krushnadevaraya;
    font-size: 24px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
    color: #000000;
    margin-bottom: 5px;
}
.top-brands__text--sale {
    font-family: Abhaya Libre ExtraBold;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 0em;
    color: #FFFFFF;
    margin-top: 20px;
}
.top-brands__img--icon {
    width: 45px;
    height: 45px;
    position: relative;
    left: 20px;
}
footer {
    width: 100%;
    height: 54px;
    background-color: #A1C53D;
    margin-top: 90px;
}
.main-desktop-2 {
    width: 100%;
    height: 386px;
    background-color: #E4E5D7;
    display: flex;
}
.main-desktop-2__info {
    width: 100%;

}
.main-desktop-2__info--header {
    font-family: 'Sree Krushnadevaraya';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 82px;
    text-transform: capitalize;
    color: #000000;
    margin: 0 80px 40px;
}
.main-desktop-2__info--text {
    margin: 0 auto;
    width: 726px;
    height: 87px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-transform: capitalize;
    color: #686868;
}
.button-desktop-2 {
    width: 205px;
    height: 72px;    
    background: #73A336;
    border-radius: 2px;
    align-items: center;
    position: relative;
    left: 448px;
    top: 25px;
}

.best-selling-desktop-2__header {
    width: 100%;
    height: 83px;
    
}
.best-selling-desktop-2__link {
    font-family: 'Inter';
    font-weight: 700;
    color: #676767;
    text-decoration: none;
    padding: 20px;
    float: left;

}
.best-selling-desktop-2__link-2 {
    font-family: 'Sree Krushnadevaraya';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 1px solid #000000ab;
    color: #000000ab;
    margin-right: 45px;
    float: right;
}
.items-desktop-2 {
    display: flex;
    margin: 30px auto;
    align-items: center;
    justify-content: center;
    gap: 63px;
}
.item-desktop-2 {
    height: 282px;
    width: 209px;
    background: #6C8152;
}
.item-desktop-2__img {
    height: 230px;
    width: 209px;
} 
.item-desktop-2__text--about {
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-left: 10px;
}
span {
    font-family: 'Abhaya Libre';
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
}
.item-desktop-2__text--price {
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #FFFFFF;
    padding-left: 10px;
}
.item-desktop-2__icon {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    background-color: #FFFFFF;
    float: right;
    position: relative;
    bottom: 20px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
} 